
                                    /* using popins font inside body tag */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  body{
    font-family: 'Poppins', sans-serif;
    background-color:white;

  }
                             /* using popins font inside body tag */

                                     /* common css */
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
                                       /* common css */

                                         /* nav bar style */
nav{
    height: 90px;
    width: 100%;
padding: 2rem;   
background-color: #FFF4E7;

    
    
}
.logo{
    color:black;
    font-size: 45px;
    line-height:80px;
    padding: 0 130px;
}
nav ul{
    float: right;
    margin-right: 10rem;
}
  nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0  15px;

}
li a{
    color: black;
}

                                                              /* nav bar style */

 



                                                              /* first section style  */




.main_gorup_section{
    background-color: #FFF4E7;
}
.main_gorup_description{
    text-align: center;
    margin: 0 350px;
padding: 3rem;    

}
.main_gorup_title{
    font-size: 3rem;
}
.main_grou_dep{
    font-size: 16px;
    margin-bottom: 23px;
    color: var(--Dark-03, #727272);

}
.btn{
    font-size: 16px;
    padding: 1rem;
    border-radius: 6px;
    background-color: orange;
    border: none;
    color: white;
}
.main_group_img{
    text-align: center;
padding: 1rem;   
}
.main_group_img img{
    width: 1150px;
    height: 600px;
}


                                                  /* first section style */



   
   
                                                  /* second section style */

.second_section{
    background-color: #FFF;
    padding: 3rem;
}
    .Features{
    display: flex;
justify-content: center;
gap: 50px;
margin-left: 120px;
padding: 5rem;
}
.features_img img{
 width: 300px;
height: 300px;
border-radius: 8px;
padding: 5px;

}
.features_img{
display: grid;
grid-template-columns: repeat(2 ,1fr);



}
.features_description{
    text-align: left;
    padding: 5px;
    margin-top: 150px;
  

}
.features_title{
    font-size: 40px;
    color: var(--Dark-03, #727272);

}
.features_dept{
    font-size: 14px;
     margin: 1rem 0rem;
     color: var(--Dark-03, #727272);

}
.features_btn{
    font-size: 15px;
    padding: 1rem;
    border-radius: 5px;
    background-color: orange;
    border: none;
    color: white;

}
                                                          /* second section style */

                                                          /* third section style */

.third_section{
    background-color: white;
}


.our_features{
    display: flex;
    justify-content: center;
    gap: 146px;
}
.our_feature_description_part{
     padding: 10px;
}
.card{
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid whitesmoke;
   border-radius: 10px;
   padding: 1rem;

}
.card_title{
    font-size: 20px;
    color: var(--Dark-01, #131313);


}
.card_description{
  
    font-size: 14px;
    color: var(--Dark-03, #727272);


}
.our_features_description{
    margin-left: 150px;
    
}
.our_features_img{
margin-right: 150px;
}
.our_features_img img{
    width: 608px;
height: 782px
}
.our_features_title{
    font-size: 45px;


}
.class{
    font-size: 14px;
    color: var(--Dark-03, #727272);
    margin-bottom: 15px;
    margin-top: 10px;


}
.our_features_button{
    font-size: 16px;
    padding: 2rem 3rem;
    margin-left: -50px;
    border-radius: 5px;
   
    background-color:#FF900E;
    color: white;
     border: none;
position: relative;
top: -110px;
font-size: 40px;
font-weight: 700;
}

                                             /* third section style */




                                             /* fourth section style */

.fourth_section{
    background-color: white;
}
.fact_description{
    text-align: left;
    padding: 2rem;
    margin-left: 120px;
    margin-right: 750px;
}
.fact_card{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    margin-left: 150px;
    margin-right: 150px;
    
}
.facts{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 2.3rem;
    border-radius: 5px;
  

}
.facts:hover{
    /* background-color:salmon; */
    box-shadow:5px 4px 0.4rem salmon ;
}
.fact_title{
    font-size: 35px;

}
.fact_dept{
    font-size: 14px;
    color: var(--Dark-02, #424242);
    margin-top: 10px;

}
.fact_card_dept{
    font-size: 16px;
    color: var(--Dark-02, #424242);


}
.fact_card_number{
    font-size: 35px;
    font-weight: 800;
}
                                                /* fourth section style */

                                        /* fifth section style */

.sponsor_section{
    background-color: white;
}
.sponsor_div{
    text-align: center;
    padding: 1rem;
    margin-left: 400px;
    margin-right: 400px;
}
.sponsors{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin-left: 120px;
    margin-right: 120px;
    
}
.sponsors img{
    filter: brightness(0.7) saturate(1%);

}
                                         /* fifth section style */


                                                               /* footer style */
footer{
    background-color: white;
}
.footer{
    text-align: center;
    border: none;
    margin-left: 200px;
    margin-right: 200px;
    padding: 1.8rem;
    border-radius: 5px;
    background-color:#FFF4E7;
    margin-bottom: 12rem;
    margin-top: 5rem;
    font-size: 14px;
    color: #727272;
}
                                                  /* footer style */
